@import "../../styles//stylesheet.scss";

.primary {
  button {
    border-radius: 12px;
    background-color: $primaryColor;
    // border: none !important;
    outline: none !important;
    .textWrapper {
      display: inline-flex;
      margin: 0 !important;
    }

    span {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      text-transform: capitalize;
    }
  }

  &:active,
  &:hover {
    button {
      background-color: $primaryColor;
    }
  }

  &.active {
    button {
      background-color: $primaryColor;
    }
  }
}

.secondary,
.tertiary {
  button {
    border: 1px solid $primaryColor;
    outline: none !important;
    border-radius: 12px;
    background-color: $white;

    .textWrapper {
      display: inline-flex;
      align-items: center;
    }

    span {
      color: $primaryColor;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      text-transform: capitalize;
    }
  }

  &:active,
  &:hover {
    button {
      border: 1px solid $primaryColor;
      background-color: $white;
    }
  }

  &.active {
    button {
      // border: 1px solid $primaryColor;
      border: 1px solid $Greys-C3;
      background-color: $Greys-C2;
    }
  }
}
.tertiary {
  button {
    border: 1px solid $Greys-C3;
    span {
      color: $SecondaryTextColor;
    }
  }
  &:active,
  &:hover {
    button {
      border: 1px solid $Greys-C3;
      background-color: $Greys-C2;
    }
  }
  &.active {
    button {
      border: 1px solid $primaryColor;
      background-color: $white;
    }
  }
}
.hyperlink {
  button {
    border: none !important;
    outline: none !important;
    background-color: transparent;

    span {
      color: $primaryColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      position: relative;
    }

    &:hover,
    &:active {
      span {
        text-decoration: underline;
        color: $primaryColor;
      }
    }
  }

  &.active {
    button {
      color: $primaryColor;
      span {
        color: $primaryColor;
      }
    }
  }

  // @include screen_width(320px, 768px) {
  //   span {
  //     font-size: 14px;
  //     line-height: 25px;
  //     text-decoration: none;
  //   }
  // }
}
.disabled {
  opacity: 0.5;
  button {
    cursor: not-allowed;
    border: none !important;
    outline: none !important;
  }
  &:hover,
  &:active {
    button {
      background-color: $primaryColor;
    }
  }
}

.secondary.disabled,
.tertiary.disabled {
  &:hover,
  &:active {
    button {
      background-color: unset;
    }
  }
}
button {
  padding: 0px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
